<% provide(:title, "About") %>
<h1>About BeatRoot</h1>
<div class="col-xs-offset-1" class="col-xs-10">
	<p>BeatRoot is an application made for people who
	love making music, and want other input on the
	music that they make.</p>
</div>