<% provide(:title, "Home") %>

<div class="center jumbotron">

<h1>Welcome to BeatRoot</h1>

<h2>Listen and share your music!</h2>

<%= link_to "Sign Up!", signup_path, class: "btn btn-lg btn-danger" %> 
<p>This is the home page for the application</p>

</div>

<!-- Put logo here -->